/* QUITANDO EL MARGEN POR DEFECTO DEL NAVEGADOR*/
html, body{
    box-sizing: border-box;
    margin: 0;
}
body{
    color: rgb(43, 168, 226);
    background: turquoise;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: teal;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 80px;
}
header nav{
    color: aliceblue;
    align-items: center;
}